bypass_aes_flow.json
[{"id":"fc6e7a2b-8a50-4223-b1d5-bc7d8df981db","type":"function","z":"1cf3f1e.a89004e","name":"Bypass ProFreeHost AES","func":"const payloadStr = (typeof msg.payload === 'string') ? msg.payload : msg.payload.toString();\n\nif (payloadStr.includes('slowAES.decrypt')) {\n    node.warn(\"ProFreeHost Bot Challenge Detected. Calculating bypass cookie...\");\n    \n    const regexA = /var a=toNumbers\\(\"([a-f0-9]+)\"\\)/;\n    const regexB = /var b=toNumbers\\(\"([a-f0-9]+)\"\\)/;\n    const regexC = /var c=toNumbers\\(\"([a-f0-9]+)\"\\)/;\n    \n    const matchA = payloadStr.match(regexA);\n    const matchB = payloadStr.match(regexB);\n    const matchC = payloadStr.match(regexC);\n    \n    if (matchA && matchB && matchC) {\n        const key = Buffer.from(matchA[1], 'hex');\n        const iv = Buffer.from(matchB[1], 'hex');\n        const cipherText = Buffer.from(matchC[1], 'hex');\n        \n        const crypto = require('crypto');\n        const decipher = crypto.createDecipheriv('aes-128-cbc', key, iv);\n        decipher.setAutoPadding(false);\n        \n        let decrypted = decipher.update(cipherText);\n        decrypted = Buffer.concat([decrypted, decipher.final()]);\n        \n        const testCookie = decrypted.toString('hex');\n        \n        if (!msg.headers) msg.headers = {};\n        msg.headers['Cookie'] = `__test=${testCookie}`;\n        \n        // Loop back original saved payload so we can resend\n        msg.payload = msg.originalPayload || msg.payload;\n        \n        return [msg, null];\n    }\n}\n\nreturn [null, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":200,"wires":[["retry_http"],["success_debug"]]},{"id":"retry_http","type":"http request","z":"1cf3f1e.a89004e","name":"Retry POST Data","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":830,"y":200,"wires":[[]]},{"id":"success_debug","type":"debug","z":"1cf3f1e.a89004e","name":"Success!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":260,"wires":[]}]
